aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
attrs==25.4.0
black==26.3.1
click==8.3.1
daiquiri==3.0.0
frozenlist==1.7.0
idna==3.11
multidict==6.7.1
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
pip==26.0.1
platformdirs==4.9.4
propcache==0.3.1
python-json-logger==2.0.7
pytokens==0.4.1
setuptools==82.0.1
typing_extensions==4.15.0
wheel==0.46.3
yarl==1.23.0
