aiohttp==3.7.4
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.3.0
black==20.8b1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
daiquiri==3.0.0
idna==3.1
load==2020.6.23
multidict==5.1.0
mypy-extensions==0.4.3
pathspec==0.8.1
pip==21.0.1
python-json-logger==2.0.1
regex==2020.11.13
setuptools==65.5.1
toml==0.10.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
wheel==0.36.2
yarl==1.6.3
